.seat {
    background-color: #394867;
    border: 2px solid #F1F6F9;
    margin: 8px;
    transition: all .2s ease;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat-left {
    border-radius: 8px 0 0 8px;
    width: 30px;
    height: 32px;
}

.seat-right {
    border-radius: 0 8px 8px 0;
    width: 30px;
    height: 32px;
}

.seat-up {
    border-radius: 8px 8px 0 0;
    height: 30px;
    width: 32px;
}

.seat-down {
    border-radius: 0 0 8px 8px;
    height: 30px;
    width: 32px;
}

.seat:hover {
    background-color: #39675f;
    scale: 1.2;
    cursor: pointer;
}

.seatContainer {
    position: relative;
}