.modal {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50px);
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    background-color: #383d44;
    border: 2px solid #F1F6F9;
    transition: all .2s ease;
    z-index: 1;
  }